extends ../layout/admin

block contenido

    h1(class="text-center text-xl font-bold uppercase ") Solicitudes 
    div(class="grid-cols-1 sm:grid md:grid-cols-3")
        div(class="border border-black mx-3 mt-6 flex flex-col self-start rounded-lg  sm:shrink-0 sm:grow sm:basis-0")
            div(class="p-6")
                h5(class="text-center mb-2 text-2xl font-extrabold leading-tight text-black") Contabilidad
                p(class="text-black")=`${Contabilidad} Nuevas solicitudes`
            div(class="mt-auto border-t-2 px-6 py-3 text-center dark:text-neutral-50")
                a(class=" bg-green-600 w-full text-center block text-black p-2 uppercase rounded" href="/admin/categoria/1") Ver solicitudes
                //-a(class="w-full text-black" href="/admin/categoria/1") Ver solicitudes
        div(class="border border-black mx-3 mt-6 flex flex-col self-start rounded-lg  sm:shrink-0 sm:grow sm:basis-0")
            div(class="p-6")
                h5(class="text-center mb-2 text-2xl font-extrabold leading-tight text-black") Comunicación
                p(class="text-black")=`${Comunicacion} Nuevas solicitudes`
            div(class="mt-auto  border-t-2 px-6 py-3 text-center  dark:text-neutral-50")
                a(class=" bg-green-600 w-full text-center block text-black p-2 uppercase rounded" href="/admin/categoria/3") Ver solicitudes
        div(class="border border-black mx-3 mt-6 flex flex-col self-start rounded-lg  sm:shrink-0 sm:grow sm:basis-0")
            div(class="p-6")
                h5(class="text-center mb-2 text-2xl font-extrabold leading-tight text-black") Administracion
                p(class="text-black")=`${Administracion} Nuevas solicitudes`
            div(class="mt-auto  border-t-2 px-6 py-3 text-center  dark:text-neutral-50")
                a(class=" bg-green-600 w-full text-center block text-black p-2 uppercase rounded" href="/admin/categoria/4") Ver solicitudes
        div(class="border border-black mx-3 mt-6 flex flex-col self-start rounded-lg  sm:shrink-0 sm:grow sm:basis-0")
            div(class="p-6")
                h5(class="text-center mb-2 text-2xl font-extrabold leading-tight text-black") Turismo
                p(class="text-black")=`${Turismo} Nuevas solicitudes`
            div(class="mt-auto  border-t-2 px-6 py-3 text-center  dark:text-neutral-50")
                a(class=" bg-green-600 w-full text-center block text-black p-2 uppercase rounded" href="/admin/categoria/5") Ver solicitudes
        div(class="border border-black mx-3 mt-6 flex flex-col self-start rounded-lg  sm:shrink-0 sm:grow sm:basis-0")
            div(class="p-6")
                h5(class="text-center mb-2 text-2xl font-extrabold leading-tight text-black") Recursos Humanos
                p(class="text-black")=`${Recursos} Nuevas solicitudes`
            div(class="mt-auto border-t-2 px-6 py-3 text-center  dark:text-neutral-50")
                a(class=" bg-green-600 w-full text-center block text-black p-2 uppercase rounded" href="/admin/categoria/2") Ver solicitudes
block scripts
    script(src="/js/sidebar.js") 