extends ../layout/app

block contenido
    h1(class="text-center mt-5 font-bold text-2xl")=pagina
    //-pre= JSON.stringify(solicitudes, undefined, 2)
    if solicitudes.length
        div(class="bg-slate-300 shadow rounded-lg")
            ul(class="divide-y divide-gray-200")
                each solicitud in solicitudes
                    li
                        div(class="p-6 w-full flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-8 gap-4 md:space-y-0")
                            div(class="sm:w-3/4 md:w-4/6 lg:w-5/6 space-y-3")
                                p(class="block text-sm font-extrabold text-indigo-600 truncate")= solicitud.titulo
                                p(class="text-sm text-black font-bold")= solicitud.tipoRecurso
                                p(class="text-sm text-black font-bold" )!= solicitud.Pedido
                                p(class="text-sm text-black font-bold")= `Enviado el: ${formatearFecha(solicitud.createdAt)}` 
                            div(class="sm:w-1/4 md:w-2/6 lg:w-1/6 flex flex-col 2xl:flex-row gap-2 ")
                                if solicitud.estatus != null
                                    a(class=`w-full px-2 py-2 md:py-1 text-center text-xs leading-5 font-semibold rounded ${solicitud.estatus ? 'bg-green-500' : 'bg-red-500'}` )= `${solicitud.estatus ?  'Aceptada' : 'Rechazada'}`
                                else
                                    a(class=`w-full px-2 py-2 md:py-1 text-center text-xs leading-5 font-semibold rounded bg-gray-500` ) Pendiente
        div(class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6")
            div(class="flex-1 flex justify-between sm:hidden")
                a(href=`/user/mis-solicitudes?pagina=${paginaActual - 1}` class=`${paginaActual === 1 ? 'pointer-events-none ' : ''}relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior
                a(href=`/user/mis-solicitudes?pagina=${paginaActual + 1}` class=`${paginaActual === paginas ? 'pointer-events-none ' : ''} relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Siguiente
            div(class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between")
                p(class="text-sm text-gray-700 gap-2") Mostrando 
                    span(class="font-medium") #{offset + 1} a 
                    span(class="font-medium") #{total < limite + offset ? total : limite + offset } de 
                    span(class="font-medium") #{total} resultados
            div(class="hidden sm:block")
                if paginas < 15    
                    nav(class="relative z-0 inline-flex rounded-md shadow-md")
                        - var n = 1
                            while n <= paginas
                                a(href=`/user/mis-solicitudes?pagina=${n}` class=`${paginaActual == n ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{n++}
                else
                    nav(class="relative z-0 inline-flex rounded-md shadow-md")
                        - var n = paginaActual < 3 ? 1 : paginaActual 
                            a(href=`/user/mis-solicitudes?pagina=${paginaActual - 1}` class=`${paginaActual === 1 ? 'pointer-events-none ' : ''}relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50`) Anterior
                              if paginaActual <  (paginas - 2) 
                                    a(href=`/user/mis-solicitudes?pagina=${n}` class=`${paginaActual == n  ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`)= `${n++}`
                              if paginaActual <  (paginas - 3)  
                                    a(href=`/user/mis-solicitudes?pagina=${n}` class=`${paginaActual == n  ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`)= `${n++}`
                                    a(href=`/user/mis-solicitudes?pagina=${n}` class=`${paginaActual == n  ? 'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`)= `${n++}`                                    
                                    a(class=`bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium`) ...
                            a(href=`/user/mis-solicitudes?pagina=${paginas - 2}` class=`${paginaActual == (paginas - 2) ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{paginas - 2}
                            a(href=`/user/mis-solicitudes?pagina=${paginas - 1}` class=`${paginaActual == (paginas - 1) ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{paginas - 1}
                            a(href=`/user/mis-solicitudes?pagina=${paginas}` class=`${paginaActual == paginas ?  'bg-indigo-50 border-indigo-500 text-indigo-600' : 'bg-white border-gray-300 text-gray-500 hover:bg-gray-50'} relative inline-flex items-center px-4 py-2 border text-sm font-medium`) #{paginas}       
    else
        p(class="text-center mt-5 font-bold text-lg") No hay Resultados
block scripts
    script(src="/js/sidebar.js")      